@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
  background-color: #f07d00;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color:#555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
}

  h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
  }
  .main_txt {
    margin-bottom: 0px;
    text-indent: 20px;
    font-family: "Raleway";
    text-align: justify;
  }
  .main_txt_header {
    margin-bottom: 0px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Raleway";
  }

  h4 {
    padding-left: 10px;
    color:  #f07d00;
    font-family: "Raleway";
    letter-spacing: 1px;
  }

  h3 {
    color:  #f07d00;
    font-family: "Raleway";
    letter-spacing: 1px;
  }

  p {
    line-height: 28px;
    margin-bottom: 25px;
    font-family: "Raleway";
  }

  .lefted {
    text-align: left;
    margin-top: 10px;
  }

  .centered {
    text-align: center;
  }

  a {
    color: #f85c37;
  }

  .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #8B0000;
  }

  a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#logo {
  width: 60px;
  height: 60px;
  margin-top: -20px;
}

.navbar {
  font-weight: 500;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  }

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}


  .navbar-inverse .navbar-nav > .active > a {
      background-color: #f07d00;
  }

  #headerwrap {
    background: url(../assets/main_backgrd.jpg) no-repeat center top;
    margin-top: 10px;
    padding-top: 50px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#foot {
  background-color: #2d2d2d;
  height: 70px;
}

.two {
  padding-top: 10px;
}

.panel-default .panel-heading {
  background-color: #2d2d2d;
  border-color: inherit;
}

.panel-heading:hover
{
  background-color: #F8F8FF;
}

.panel-default {
  color: #f07d00;
  background-color: #696969;
}

.panel-heading {
  text-align: center;
  background-color: #2d2d2d;
}

/* Прайс-лист */
.row .col-sm-6 {
  background-color: #2F4F4F;
  font-family: "Raleway";
}
.row {
  margin-bottom: 5px;
  border: 2px;
  border-color: #222;
}

.row p {
  margin: 2px;
}

.cost_min_txt {
  font-size: 10px;
  font-family: "Raleway";
  margin: 0px;
}

/* Прайс-лист */

#partners {
  background-color: #483D8B;
  padding-top: 0px;
  text-align: center;
  padding-bottom: 20px;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.col-lg-8 .col-lg-offset-2 {
  margin-left: 25px;
}

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
